html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

font-family: 'Ubuntu', sans-serif;}




.orden-00{background-color: black;}

.formato-0{display: flex;align-items: center;justify-content: center; height:700px;background-image: url(asset/artigo-16.jpg);margin: 0%;flex-direction: column;background-size: cover;}


.orden-00plus{display: flex;margin-top: 10px;flex-direction: column;justify-content: center;align-items: center;}

.formato-1{width:80%;display: flex;}

.formato-2{;
width:250px;
height:350px;
 display: flex;flex-wrap: wrap;justify-content:center;text-align:center;padding: 1%;margin:0%;border-radius:10em;border-color: aquamarine;}



 .orden-plus{width: 250px;align-items: center;display: flex;margin-top: 50px;}

 .orden-0{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center; align-items: center;
;background-color: purple;margin-top: 0%;}

.orden-0plus{background-image: url(asset/artigo-13.png);background-size: cover;height: 10px;}

.orden-1{border-radius: 6rem;height: 200px; width: 500px;}

.orden-2{width: aut0;display: flex;justify-content: center;text-align: center;height: 400px;align-items: center;flex-direction: column;width: 300px;color: white;}

.orden-2plus{display: flex;width: 100%;margin: 10px;}

.formato-3{display: flex;justify-content: center;text-align: center;background-color: rgb(0, 0, 0);color: rgb(20, 252, 8);width:auto;margin:50px;}

.formato-3plus{}


.orden-3plus{display: flex;width: 60%;margin-top: 60px;}

.orden-3{display: flex;}

.orden-40{flex-wrap: wrap;display: flex;width: 90%;margin: 0%;border-top-left-radius: 3em;}



.orden-4{display: flex;justify-content: center;text-align: center;align-items: center;color: rgb(5, 3, 0);flex-direction:column;color: rgb(243, 194, 244);width: 90%;}

.orden-44plus{display: flex;width: 70%;flex-wrap: wrap;justify-content: center;}


.orden-4plus{display: flex;height:auto ;  width:100px;}

.orden-44{background-color: rgba(79, 79, 79, 0.86);flex-wrap: wrap;display: flex;width:90%;flex-direction: column;border-end-end-radius: 3em;color: rgb(103, 3, 130);align-items: center;justify-content: center;text-align: center; height: 300px;}




  .formato-4{display: flex;text-align: center;flex-direction:row;flex-wrap: wrap; justify-content: center;align-items: center;}

  .formato-4plus{ display: flex;flex-wrap: wrap;flex-direction: column;align-items: center;justify-content: center;}


  .formato-5{flex-wrap: wrap;justify-content: center;align-items: center;display: flex;width: 340px;margin: auto;margin: 10px;}
  @media(min-width:810px){.formato-5{max-width: 500px;}}

  .orden-5{display: flex;justify-content: center;align-items: center;}

  .orden-6{background-color: gold;margin: 0%;height: 60px;text-align: center;}

  .formato-6{display: flex;background-color: gold;border-radius: 3em;width: 300px;height: 300px;margin: 20px;text-align: center;justify-content: center;flex-direction: column;align-items: center;}

  .formato-6plus{display: flex;justify-content: center; flex-direction: column;background-color: gold}

  .orden-7plus{display: flex;width: 90px;margin : 10px;}

  .orden-7{justify-content: center;text-align: center;display: flex;}

  .formato-7{display: flex;flex-direction: row; justify-content: center;flex-wrap: wrap;}

.orden-8{margin-top: 0%; background-color: rgb(223, 6, 172);height: 60px;text-align: center;}

.formato-8{height: auto;color: white;}

.formato-9{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}


.orden-9{color: white;}

.orden-10{width: 300px;height: 300px; margin: 10px;}

.orden-11{color: white; width: 300px;flex-wrap: wrap;text-align: center;}

.formato-10{display: flex;justify-content: center;text-align: center;margin-top: 15px;}

.orden-12{color:white}

.orden-12plus{display: flex;justify-content: center;flex-wrap: wrap;color: rgb(162, 227, 230);text-align: center;}

.formato-11{display: flex; text-align: center; color: darkgoldenrod;}

.orden-11plus{}

.formato-12{ margin: 10px;flex-direction: row;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;text-align: center}

.orden-13{display flex; width: 230px; background-color: fuchsia; border-radius: 2em; margin:43px}

.formato-13{ margin: 10px;flex-direction: row;display: flex;flex-wrap: wrap;justify-content: center;text-align: center;width: auto;align-items: center}

.orden-14{display flex; width: 320px; border-radius: 2em; margin:2px;border-color: rgb(255, 255, 255);align-items: center;justify-content: center;}

.orden-14plus{margin: 5px;width: 250px;padding: 5px;}

.formato-14{ width: auto;height: 100px;align-items: center;display: flex;align-items: center;margin: 10px;}

.formato-14plus{flex-direction: row;background-color: rgb(19, 9, 29);align-items: center;display: flex;}

.formato-15{display: flex;justify-content: center;align-items: center;}

.orden15{width: 250px;justify-content: center;align-items: center;display: flex;}


.orden-16{width: 90px;}