html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.orden-00{background-color: black;}

.formato-0{display: flex;align-items: center;justify-content: center; height:350px;background-color: rgb(0, 0, 0);background-size: cover;margin: 20px;flex-direction: column;}


.orden-00plus{display: flex;margin-top: 10px;justify-content: center;}

.formato-1{width:80%;display: flex}

.formato-2{;
width:250px;
height:350px;
 display: flex;flex-wrap: wrap;justify-content:center;text-align:center;padding: 1%;margin:0%;border-radius:10em;border-color: aquamarine;}



 .orden-plus{width: 250px;align-items: center;display: flex;margin-top: 50px;}

 .orden-0{display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center; align-items: center;
;background-color: purple;margin-top: 0%;}

.orden-0plus{background-image: url(asset/artigo-13.png);background-size: cover;height: 10px;}

.orden-1{border-radius: 6rem;height: 200px; width: 500px;}

.orden-2{width: aut0;display: flex;justify-content: center;text-align: center;height: 400px;align-items: center;flex-direction: column;width: 300px;color: white;}

.orden-2plus{display: flex;width: 100%;margin: 10px;}

.formato-3{display: flex;justify-content: center;text-align: center;background-color: rgb(0, 0, 0);color: rgb(20, 252, 8); width: 100%;}


.orden-3plus{display: flex;width: 60%;margin-top: 20px;}

.orden-3{display: flex;}

.orden-40{flex-wrap: wrap;display: flex;width: 60%;margin: 0%;}



.orden-4{display: flex;justify-content: center;text-align: center;align-items: center;color: rgb(5, 3, 0);flex-direction:column;color: rgb(0, 0, 0);width: 90%;}


.orden-4plus{display: flex;height:500px ;  width: auto;}

.orden-44{background-color: rgb(1, 252, 101);flex-wrap: wrap;display: flex;width:60%;flex-direction: column;border-end-end-radius: 3em;color: rgb(0, 0, 0);align-items: center;justify-content: center;text-align: center; }
@media(min-width:810px){.orden-44{max-width: 693.6px;}}



  .formato-4{display: flex;justify-content: center;text-align: center;flex-direction:row;margin: 30px;flex-wrap: wrap;align-items: center;}


  .formato-5{flex-wrap: wrap;justify-content: center;align-items: center;display: flex;}

  .orden-5{display: flex;justify-content: center;align-items: center;}

  .orden-6{background-color: gold;margin: 0%;height: 60px;text-align: center;}

  .formato-6{display: flex;background-color: gold;border-radius: 3em;width: 300px;height: 300px;margin: 20px;text-align: center;justify-content: center;}

  .orden-7{justify-content: center;text-align: center;display: flex;}

  .formato-7{display: flex;flex-direction: row; justify-content: center;flex-wrap: wrap;}

.orden-8{margin-top: 0%; background-color: rgb(223, 6, 172);height: 60px;text-align: center;}

.formato-8{height: auto;color: white;}

.formato-9{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}


.orden-9{color: white;}

.orden-10{width: 300px;height: 300px; margin: 10px;}

.orden-11{color: white; width: 300px;flex-wrap: wrap;}

.formato-10{display: flex;justify-content: center;text-align: center;margin-top: 15px;}

.orden-12{color:white}

.orden-12plus{display: flex;justify-content: center;flex-wrap: wrap;color: chartreuse;text-align: center;}

.formato-11{display: flex; text-align: center; color: darkgoldenrod;}